@import url(https://fonts.bunny.net/css?family=pirata-one:400);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF8E7;
    gap: 3em;
}

header {
    width: 100%;
    padding: 1em 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    text-align: center;
}

footer {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF8E7;
    background-color: #297373;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: auto;
}

.logo > img {
    height: 4em;
}

.logo > div,
.fancy-text {
    font-size: 4em;
    font-family: 'Pirata One', display;
    text-shadow: 2px 2px #297373;
    color: #297373;
    letter-spacing: 0.1em;
    cursor: default;
    text-align: center;
    -webkit-text-fill-color: #E3B261;
    -webkit-text-stroke: 1px #297373; 
}

.fancy-text {
    font-size: 3em;
}

nav {
    display: flex;
    gap: 0.2em;
}

nav > button {
    box-sizing: border-box;
    border: 2px solid #00000000;
    border-radius: 2px;
    background: none;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    transition: 0.3s;
    color: #297373;
    font-weight: bold;
    text-decoration: none;
}

nav > button:hover {
    cursor: pointer;
    text-decoration: underline #E3B261;
}

nav > button.active-button {
    color: #FFF8E7;
    background-color: #E3B261;
    border: 2px solid #297373;
    text-decoration: none;
}

nav > button.active-button:hover {
    cursor: inherit;
}

#content {
    background-color: #FFF8E7;
    height: 100%;
    width: min(1200px, 100%);
    min-height: max-content;
    padding: 0 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    color: #000000ee;
    overflow: hidden;
    gap: 2em;
}

#content > img {
    width: 80%;
    border-radius: 2px;
    /* border: 7px solid #297373; */
    box-shadow: 10px 10px #297373;
}

#content > div {
    width: 80%;
}

#content > div.content-content {
    border: 7px solid #297373;
    background-color: #FFF8E7;
    padding: 1em;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 2px 5px #00000055;
    border-radius: 20px;
}