*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    padding: 0.5em;
}

body {
    display: flex;
    flex-direction: column;
    background-color: red;
}

header {
    margin-bottom: 1em;
}

header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    background-color: aqua;
    box-shadow: 0 2px 5px #00000055;
    border-radius: 5px;
    text-align: center;
}

footer {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    box-shadow: 0 2px 5px #00000055;
    border-radius: 5px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2em;
}

.logo > img {
    height: 4em;
}

.logo > div {
    font-size: 2.5em;
}

nav {
    display: flex;
    gap: 0.5em;
}

nav > button{
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    box-shadow: 2px 2px 5px #00000055;
}

nav > button:hover {
    box-shadow: 1px 1px 3px #000000aa;
    cursor: pointer;
}

#content {
    background-color: chartreuse;
    height: 100%;
    margin-bottom: 1em;
    box-shadow: 0 2px 5px #00000055;
    border-radius: 5px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}