@import url(https://fonts.bunny.net/css?family=pirata-one:400);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF8E7;
    gap: 3em;
}

header {
    width: 100%;
    padding: 1em 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    text-align: center;
}

footer {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF8E7;
    background-color: #297373;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: auto;
}

.logo > img {
    height: 4em;
}

.logo > div {
    font-size: 4em;
    font-family: 'Pirata One', display;
    text-shadow: 2px 2px #297373;
    color: #297373;
    letter-spacing: 0.1em;
    cursor: default;
    text-align: center;
    -webkit-text-fill-color: #E3B261;
    -webkit-text-stroke: 1px #297373;
    transition: 0.3s;
}

.logo > div:hover {
    text-shadow: 4px 4px #297373;
    letter-spacing: 0.15em;
}

.fancy-text {
    font-size: 3em;
    font-family: 'Pirata One', display;
    color: #297373;
}

nav {
    display: flex;
    gap: 0.2em;
}

nav > button {
    box-sizing: border-box;
    border: 2px solid #00000000;
    border-radius: 2px;
    background: none;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    color: #297373;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

/* The above transition transitions from default to these settings at page load, 
which is not desired. */

nav > button:hover,
nav > button:focus {
    cursor: pointer;
    text-decoration: underline #E3B261;
}

nav > button.active-button {
    color: #FFF8E7;
    background-color: #E3B261;
    border: 2px solid #297373;
    text-decoration: none;
    margin: 0 1em;
    box-shadow: 2px 2px #297373;
}

nav > button.active-button:hover,
nav > button.active-button:focus {
    cursor: inherit;
    box-shadow: 4px 4px #297373;
}

#content {
    background-color: #FFF8E7;
    height: 100%;
    width: min(1000px, 100%);
    min-height: max-content;
    padding: 0 2em 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    color: #000000ee;
    overflow: hidden;
    gap: 2em;
}

#content > img {
    width: 100%;
    border-radius: 2px;
    border: 2px solid #297373;
    box-shadow: 4px 4px #297373;
    transition: all 0.3s ease-out;
}

.menu-section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, min(275px, 100%));
    grid-template-rows: repeat(auto-fit, min(300px, min-content));
    justify-content: center;
    gap: 1em;
}

.menu-item,
#content > p {
    background-color: #ffffff88;
    padding: 1em;
    border-radius: 2px;
    border: 2px solid #297373;
    box-shadow: 4px 4px #297373;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    color: #000000dd;
}

.menu-item-name {
    font-size: 1.5em;
    color: #297373;
    font-weight: bold;
}

.price {
    color: #E3B261;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: auto;
    text-align: right;
}